
body{
  background-color: black;
}
 h3 {
color: yellow;
text-decoration: overline underline 2.5px cyan;
font-family: "Papyrus", Fantasy;
font-size: 40px;
}
  h3:hover {
    color: cyan;
}
nav{
  list-style-type: none;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
li a {
  text-decoration: none;
   text-shadow: 2px 4px 7px yellow;
  font-family: "Papyrus", Fantasy;
  font-size: 25px;
  color: Cyan;
  display: circle;
  float: left;
  padding: 15px 50px;
}

li a:hover {
  color: Yellow;
  font-size: 30px;
}
