
body{
  background-color: black;
}
 h3 {
color: yellow;
text-decoration: overline underline 2.5px cyan;
font-family: "Papyrus", Fantasy;
font-size: 40px;
}
  h3:hover {
    color: cyan;
}
}
  h3:hover {
    color: yellow;
}
nav{
  list-style-type: none;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  }
img:hover{
  width: 900px;
  border: dotted cyan 10 px;
  border-radius: 1000px;
}
  h3:hover {
    color: yellow;
}

li a {
  text-decoration: none;
   text-shadow: 2px 4px 7px cyan;
  font-family: "Papyrus", Fantasy;
  font-size: 25px;
  color: cyan;
  display: block;
  float: left;
  padding: 15px 50px;
}

li a:hover {
  font-size: 30px;
  color: yellow;
}
